# Pycharm settings
.idea/
.DS_Store

# Virtual Environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]

# Metadata from 'pip install -e .'
*.egg-info/
build/
dist/

# Testing
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
